<div class="details-header flex space-between align-center container">
    <a [routerLink]="'/contact'" routerLinkActive="router-link-active">Back</a>
    <a [routerLink]="['/edit/'+contact._id]" routerLinkActive="router-link-active">Edit</a>
</div>
<div class="contact-details flex column justify-center align-center">
    <img [src]="'https://robohash.org/'+contact.name + '/?set=set5'" />
    <h4 class="name">{{contact.name}}</h4>
    <p class="phone">{{contact.phone}}</p>
    <p class="email">{{contact.email}}</p>
</div>
<transfer-fund [contact]="contact"></transfer-fund>
<div class="container">
    <p class="your-moves"><i class="fas fa-history"></i>Moves History</p>
</div>
<moves-list [moves]="contactMoves" [showTo]="false"></moves-list>