<div *ngIf="user && currRate && currMarketPrice; else elLoader" class="greet container tac">
        <h3>Hi, {{user.name}}!</h3>
        <h4><i class="fas fa-coins"></i>Coins: {{user.coins}}</h4>
        <h4><i class="fab fa-btc"></i>BTC: {{currRate}}</h4>
        <h4><i class="fas fa-dollar-sign"></i>Current Market Price: ${{currMarketPrice}}</h4>
</div>
<ng-template #elLoader>
        <content-loader></content-loader>
</ng-template>
<market-price-chart></market-price-chart>
<div class="container">
        <p class="last-3 container"><i class="fas fa-history"></i>Last 3 Moves</p>
</div>
<moves-list [moves]="movesToShow" [showTo]="true"></moves-list>