.moves-list {
    background-color: #30475e;
    color: #ececec;
    padding-top: 5px;
    padding-bottom: 5px;
    li {
        margin: 20px;
        p {
            padding: 3px;
            i {
                margin: 0 3px;
            }
            span {
                font-weight: bold;
            }
            i,
            span {
                color: #c1a57b;
            } 
        }
        .at {
            font-size: 0.8rem;
            color: grey;
        }
    }
}
