<div class="edit-header flex space-between align-center container">
<a class="back-btn" (click)="close()">Back</a>
<button class="delete-btn" (click)="removeContact(contactToEdit._id)">Delete</button>
</div>
<div class="contact-edit">
<div *ngIf="contactToEdit._id; else elAddContact" class="flex column justify-center align-center">
    <h3 >Edit Contact</h3>
    <img [src]="'https://robohash.org/'+contactToEdit.name + '/?set=set5'" />
</div>
<ng-template #elAddContact >
    <div class="flex column justify-center align-center">
        <h3>Add Contact</h3>
        <img src="https://robohash.org/new/?set=set5" />
    </div>
</ng-template>

<form #contactForm="ngForm" (submit)="saveContact($event)" class="flex column justify-center align-center">
    <input required type="text" minlength="2" placeholder="Name" name="name" [(ngModel)]="contactToEdit.name"/>
    <input type="text" placeholder="Phone" name="phone" [(ngModel)]="contactToEdit.phone"/>
    <input type="email" placeholder="Email" name="email" [(ngModel)]="contactToEdit.email" />
    <button class="save-btn" [disabled]="!contactForm.valid">Save</button>
</form>
</div>